
.left-column {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 900px;
    padding: 20px;
    position: absolute;
    left: 5%;
    top: 15%;

    
}
  
.right-column {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 900px;
    padding: 20px;
}
  

  